extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Jim Peters
        p Full Stack JavaScript Developer


        .about-bio
          p I am a former attorney currently pursuing a long-overdue career change into the technology sector after a lifetime of interest and self-education in the area.  Problem-solving, puzzles, and figuring out how things work are some of my favorite things.  Brazilian Jiu Jitsu Brown Belt and instructor.
          
      .skills-contact-box.box
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li React
          li Pug
        h6 Contact Info
        ul
          li (805) 815-7673
          li JimJitsuEsq@gmail.com

        a.btn-link(href='http://www.linkedin.com' target='_blank') LinkedIn
        a.btn-link(href='http://www.github.com/jimjitsuesq' target='_blank') GitHub
        a.btn-link(href='http://www.twitter.com' target='_blank') Twitter

    nav.nav
      a(href='/')
        span &larr;
        |  Back