extends layout.pug

block content

  article.portfolio-intro
    h1 My Portfolio
    p This portfolio is a summary of all projects I have completed as a Full Stack JavaScript Techdegree student at Treehouse.  The site itself is actually another project completed for the program using Node.js and Express.

  article.portfolio-project-thumbs
    .projects-box.box.grid
      each project in projects
        .cell
          a(href= `project/` + project.id)
            img.thumbnail(src=project.thumbnail_url, alt=`${project.project_name} Thumbnail`)
            h5 #{project.project_name}
          
          
          

