extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1 #{project_name}

        p #{description}

      .project-tech-links-box.box
        h6 Technologies
        ul
          each technology in technologies
            li= technology

        //- Add the href values to the links below
        a.btn-link(href= live_link) Live Demo
        a.btn-link(href= github_link) GitHub Repo

    .project-img-box.box

      ul 
        each image in image_urls
          img.project-img(src= image, alt= description)

    nav.nav
      a(href='/')
        span &larr;
        |  Back
